---
import BaseLayout from "../layouts/BaseLayout.astro"

import ContactCTA from "../components/ContactCTA.astro"
import Hero from "../components/Hero.astro"
import Link from "../components/Link.astro"

import work from "../assets/work.jpg"
import posthog from "../assets/companies/posthog.png"
import leadsimple from "../assets/companies/leadsimple.png"
import taglivros from "../assets/companies/taglivros.png"
import feeng from "../assets/companies/feeng.png"

import { Image } from "astro:assets"
---

<BaseLayout title="Resume | Rafa Audibert" description="Rafa Audibert's Resume">
  <div class="stack gap-20 mb-4">
    <main class="wrapper about">
      <Hero
        title="Resume"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <Image
          src={work}
          alt="Rafa Audibert working behind a laptop full with stickers"
          class="hero-image"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I have 7+ years of experience in various industries, ranging from
            seed- stage SaaS startups to growth-stage scaleups. Proven track
            record of working with <b>Ruby on Rails</b>, <b>Python + Django</b>,
            <b>Typescript + React</b>, and <b>Elixir + Phoenix</b>, building
            reliable and scalable software. I'm motivated by creating new and
            engaging customer-centric apps loved by clients.
          </p>
          <p>
            My passion is to build products that are both functional and
            aesthetically pleasing. More importantly, I want the product to do
            exactly what the customers needs it to do. I have a strong
            background in both front-end and back-end development, and I am
            always looking for new challenges to tackle.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Past Experience</h2>
        <div class="content">
          <p>
            <div class="company-header">
              <Image src={posthog} alt="PostHog logo" />
              <span>
                <strong>Product Engineer</strong> at <Link
                  href="https://posthog.com">PostHog</Link
                > — 11/2024 - Present
              </span>
            </div>

            <ul>
              <li>
                Working on the <Link
                  href="https://posthog.com/teams/web-analytics"
                  >Web Analytics</Link
                > small team, building a new product to help companies understand
                their customers and improve their products.
              </li>
              <li>
                Leading the <strong>Core Web Vitals + Performance</strong> tracking
                feature.
              </li>
            </ul>
          </p>

          <p>
            <div class="company-header">
              <Image src={leadsimple} alt="LeadSimple logo" />
              <span>
                <strong>Senior Software Engineer</strong> at <Link
                  href="https://leadsimple.com">LeadSimple</Link
                > — 03/2021 - 10/2024
              </span>
            </div>
            <ul>
              <li>
                Built the company's flagship product in <strong
                  >Ruby on Rails</strong
                > +
                <strong>React/TS</strong>, with a fully-fledged <strong
                  >GraphQL API</strong
                >, deploying tens of times every day.
              </li>
              <li>
                Implemented integrations with 4 big players in the Proptech
                industry, including 2-way sync <strong>PubSub</strong>-based
                infrastructure
              </li>
              <li>
                <strong>Reduced frontend bundle size by 95%</strong> by applying
                modern frontend bundling practices while migrating from CRA to
                <strong>Vite</strong>.
              </li>
              <li>
                Grew company by 2 orders of magnitude while making sure both the
                database and app architecture were capable of sustaining the
                higher load by <strong
                  >migrating the company infrastructure from Heroku to AWS</strong
                >.
              </li>
            </ul>
          </p>

          <p>
            <div class="company-header">
              <Image src={taglivros} alt="TAG Livros logo" />
              <span>
                <strong>Software Engineer</strong> at <Link
                  href="https://site.taglivros.com/">TAG Livros</Link
                > — 11/2019 - 03/2021
              </span>
            </div>
            <ul>
              <li>
                Developed a novel logistics IaaC microservice architecture,
                integrating with tens of shipping companies, to handle 70k
                deliveries/month in a continental country such as Brazil, using
                <strong>Terraform</strong>.
              </li>
              <li>
                Maintained a legacy <strong>Django</strong> monolith responsible
                for the subscription process, while rewriting the old fiscal/billing
                system on Serverless.
              </li>
              <li>
                Built an internal CLI to coordinate the company software
                deployment process, <strong
                  >decreasing deployment time by 60%</strong
                >.
              </li>
            </ul>
          </p>

          <p>
            <div class="company-header">
              <Image src={feeng} alt="FEENG logo" />
              <span>
                <strong>Software Engineer</strong> at <Link
                  href="https://www.feeng.com.br/">FEENG/UFRGS</Link
                > — 03/2017 - 11/2019
              </span>
            </div>
            <ul>
              <li>
                Led the initial MVP for the Brazilian government in a 3-month
                timeframe with a team of 3 junior engineers, and got the project
                greenlit by the government.
              </li>
              <li>
                Built a <strong>fully-dockerized Ruby on Rails MVC</strong>
                application for the Brazilian public health system UPSs (small health
                clinics spread through Brazilian neighborhoods)
              </li>
              <li>
                Provisioned infrastructure in AWS, using <strong
                  >EC2, RDS, ELB, Route 53, and Cloudwatch</strong
                >.
              </li>
            </ul>
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education &amp; Achievements</h2>
        <div class="content">
          <ul>
            <li>
              2022: <i>summa cum laude</i> Bachelor's degree in Computer Science
              from Universidade Federal do Rio Grande do Sul (UFRGS), Brazil
            </li>
            <li>
              2021: Exchange student at the Technische Universität
              Kaiserslautern (TUK), Germany
            </li>
            <li>
              2019/2020: 2-time finalist in the Brazilian Competitive
              Programming Contest (ICPC)
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Languages</h2>
        <div class="content">
          <ul>
            <li>Portuguese (Native)</li>
            <li>English (Professional Working Proficiency)</li>
            <li>Spanish (Limited Working Proficiency)</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Things I've worked with before</h2>
        <div class="content">
          In no specific order (help with <kbd>Ctrl/Cmd + F</kbd>):
          <br />
          <ul>
            <li>Languages: Ruby, Python, Typescript, Javascript, Elixir</li>
            <li>
              Frameworks: Ruby on Rails, Django, React, Phoenix, NextJS, Gatsby,
              Astro
            </li>
            <li>Databases: PostgreSQL, Clickhouse, Redis, Elasticsearch</li>
            <li>
              Cloud: AWS (Lambda, DynamoDB, S3, CloudFront, CloudWatch, RDS,
              ELB, Route 53), Vercel, Netlify
            </li>
            <li>
              Tools: Docker, Kubernetes, Terraform, Git, GitHub, GitLab, CI/CD,
              Semaphore CI, Github Actions, GA4, PostHog
            </li>
          </ul>
        </div>
      </section>
    </main>
  </div>

  <ContactCTA />
</BaseLayout>

<style>
  kbd {
    background-color: var(--gray-500);
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;
  }

  ul {
    margin-bottom: 1.5rem;
  }

  .company-header {
    margin-left: 0.7rem;
    display: inline-flex;
    gap: 0.3rem;
    align-items: center;
  }

  .company-header img {
    height: 24px;
    width: 24px;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img .hero-image {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
